@import "assets/styles/_variables.scss";
@import "assets/styles/_buttons.scss";
@import "assets/styles/_typography.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient($primary-color, $secondary-color);
  height: 100vh;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border: 5px solid $secondary-color;
  border-radius: 30px;
  padding: 15px;
  padding-bottom: 80px;
  background-color: $tertiary-color;
  box-shadow: 0 0 16px 5px $quaternary-color;

  > .calculator__keys__all {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 0.5fr;
    gap: 10%;
    padding-left: 5px;

    > .calculator__keys--left {
      display: grid;
      justify-content: center;
      text-align: center;
      grid-template-columns: 40% 40% 40%;
      padding-right: 7%;
      gap: 5%;

      > #keys__0 {
        grid-column: 1/3;
      }
    }
    > .calculator__keys--right {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      gap: 5%;
    }
  }
}

.calculator__screen {
  height: 100px;
  width: 350px;
  padding: 10px;
  background-color: transparent;
  color: $quaternary-color;
  text-align: end;
}

.calculator__calculations {
  height: 50px;
  width: 350px;
  padding: 10px;
  background-color: transparent;
  color: $primary-color;
  text-align: start;
}

//responsive on phones
@media only screen and (max-width: 450px) {
  .calculator {
    height: 400px;
    width: 260px;
    padding-bottom: 60px;
  }

  .calculator__screen {
    height: 110%;
    width: 100%;
  }

  .calculator__calculations {
    height: 100%;
    width: 100%;
  }
}
