button {
    padding: 10px 20px;
    box-shadow: 0 0 5px 1px $quaternary-color;
    background-color: $tertiary-color;
    color: $quaternary-color;
    border-radius: 50px;
}

.calculator__key--orange {
    color: $secondary-color;
} 

#keys__equal {
    background-color: $primary-color;
    color: $tertiary-color;
}

.calculator__key--orange-bg {
    background-image: linear-gradient( $secondary-color, $primary-color);
    color: $tertiary-color;
}

button:hover, #keys__equal:hover {
    background-color: rgba(255, 237, 225, 0.527);
    background-image: none;
    color: $quaternary-color;
}

@media only screen and (max-width: 450px) {
    button{
    padding: 10px;
    }
}