* {
    font-family: 'Questrial', sans-serif;
}

h1 {
    padding: 7% 10%;
    padding-top: 5%;
    font-size: 50px;
    text-align: center;
}

button {
    font-size: 30px;
}

@media only screen and (min-width: 768px) {
    h1 {
        padding: 3% 10%;
        padding-top: 5%;
        font-size: 60px;
    }
}

#screen {
    font-size: 70px;
}

#calculations {
    font-size: 25px;
}