* {
    font-family: 'Questrial', sans-serif;
}

h1 {
    padding: 7% 7%;
    padding-top: 5%;
    font-size: 50px;
    text-align: center;
}

button {
    font-size: 30px;
}

#screen {
    font-size: 60px;
}

#calculations {
    font-size: 40px;
}


@media only screen and (max-width: 450px) {
    h1 {
        display: none;
    }

    #screen {
        font-size: 25px;
    }
    
    #calculations {
        font-size: 20px;
    }
    
    button {
        font-size: 20px;
    }
}